<!DOCTYPE html>
<html>
<head>
  <title>AllRightAction</title>
  <%= stylesheet_link_tag "undo_everything" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "chat", "news_entries", "comments", "users", "map_entries", "albums", "shared", "users", "settings" %>
  <%= javascript_include_tag "http://x-chat-server-x.herokuapp.com/socket.io/socket.io.js" %>
  <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=true"></script>
  <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
  <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
  <%= javascript_include_tag "application", "backbone_classes", "jquery-ui-1.8.21.custom/js/jquery-ui-1.8.21.custom.min", "chat_messages", "news_entries", "map_entries", "albums", "comments", "users", "settings" %>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <script type="text/javascript" src="http://jquery-ui-map.googlecode.com/svn/trunk/ui/min/jquery.ui.map.min.js"></script>
  <script src="/assets/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
  <script src="/assets/plupload/js/plupload.full.js"></script>
  <%= csrf_meta_tags %>
  <%= render :partial => "layouts/partials/templates/news_entries" %>
  <%= render :partial => "layouts/partials/templates/chat_messages" %>
  <%= render :partial => "layouts/partials/templates/comments" %>
  <%= render :partial => "layouts/partials/templates/map_entries" %>
  <%= render :partial => "layouts/partials/templates/albums" %>
  <%= render :partial => "layouts/partials/templates/users" %>
  <%= render :partial => "layouts/partials/templates/settings" %>
  <script type="text/javascript">
      <%user = current_user%>
      <% if user %>
      $(document).ready(function () {
          Main.user = new user($.parseJSON('<%= user.basic_representation.to_json.to_s.html_safe %>'));
          // Register the user in chat
          Main.socket.emit('chat/connect', "<%= user.id %>", "<%= user.full_name %>", "general", function (set) {
          });
      });
      <% end %>
  </script>
</head>
<body>
<div class="body">
  <div class="alert_window">
    <p>
    </p>

    <div class="close" onclick="x_alert_close()">
    </div>
  </div>
  <ul class="side_menu left" style="display: none">
    <% if current_user %>
        <a id="new_news_entry_toggler" onclick="$('.left_panel').toggle();$('.side_menu.left').toggle();">
          <li><span>Поделиться новостями</span></li>
        </a>
    <% end %>
    <a id="map_entry_index_toggler" title="События в твоем регионе." onclick="$('.left_panel').toggle();$('.side_menu.left').toggle();">
      <li><span>События</span></li>
    </a>
    <a id="job_index_toggler" title="Задания для соратников." onclick="$('.left_panel').toggle();$('.side_menu.left').toggle();">
      <li><span>Задания</span></li>
    </a>
  </ul>
  <div class="left_panel">
    <div class="glass">
    </div>
    <div id="news_entries" class="entries">
      <div class="search_container">
        <form onsubmit="News.Entries.search($('#search').val());return false" class="search_form">
          <input type="search" name="search" id="search">
          <input type="submit" value="Поиск" name="commit" class="submit">
        </form>
      </div>
      <div class="news_list">
      </div>
    </div>
  </div>
  <div class="collapse_toggler left" onclick="$('.left_panel').toggle();$('.side_menu.left').toggle();"></div>
  <div class="central_panel">
    <div class="logo">
      allrightaction_logo
      <a class="menu_toggler" title="menu"></a>

      <div class="menu">
        <%= render :partial => "layouts/partials/header" %>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <ul class="side_menu right" style="display: none">
    <a onclick="$('.right_panel').toggle();$('.side_menu.right').toggle();">
      <li><span>Комментарии</span></li>
    </a>
    <a onclick="$('.right_panel').toggle();$('.side_menu.right').toggle();">
      <li><span>Твиты</span></li>
    </a>
    <a onclick="$('.right_panel').toggle();$('.side_menu.right').toggle();">
      <li><span>Текущие задания (0)</span></li>
    </a>
  </ul>
  <div class="right_panel">
    <div class="glass">
    </div>
    <%= render :partial => "chat_messages/index" %>
  </div>
  <div class="collapse_toggler right" onclick="$('.right_panel').toggle();$('.side_menu.right').toggle();"></div>
</div>
</body>
</html>
